//- out: .
doctype html
html
    head
        title Bootfolio
        
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.min.css")
        
    body(style="font-size: 26px")
        .container
            .row
                .jumbotron.text-center
                    h1 Paul Cernat
                    p. 
                        I am Paul. 
                        I specialize in versatile logo design and brand identity. 
                        Your brand is my focus, with my goal being the 
                        improvement of this brand and the 
                        increase in your customer base. I am highly passionate 
                        about what I do and I transfer this passion the work 
                        I do for all my customers.
                        Let me bring your ideas to life.
                        
            .row.text-center
                .col-xs-12
                    h1.portfolio Portfolio
            .row.pfsec
                .col-xs-12
                    img.thumbnail.pf(src="img/pf1.png")
                    img.thumbnail.pf(src="img/pf2.png")
                    img.thumbnail.pf(src="img/pf3.png")
